extends layout

block content
  h1 Contact Here
  p This page provides the contact details
  .container
  form(action='action_page.php')
    label(for='fname') First Name
    input#fname(type='text' name='firstname' placeholder='Your name..')
    label(for='lname') Last Name
    input#lname(type='text' name='lastname' placeholder='Your last name..')
    label(for='email') Email
    input#lname(type='text' name='email' placeholder='Your email..')
    label(for='subject') Subject
    textarea#subject(name='subject' placeholder='Write something..' style='height:200px')
    input(type='submit' value='Submit')

